.header {
    color: #0D141C;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav{
    margin-right: 2rem;
  }

  .title{
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 500;
  }

  .navList {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navList li a {
    color: #0D141C;
    text-decoration: none;
    font-weight: 500;
  }
  
 